# Rename this file to .env.local and add your fal credentials
# Visit https://fal.ai to get started
NEXT_PUBLIC_APP_URL=https://surgent.dev
NEXT_PUBLIC_PROXY_URL=surgent.dev
NEXT_PUBLIC_BACKEND_URL=https://api.surgent.dev
NEXT_PUBLIC_PAY_URL=https://api.surgent.dev/api/pay
