DATABASE_URL=postgres://surpay:password@localhost/surpay
DATABASE_MAX_CONNECTIONS=5
DATABASE_MIN_CONNECTIONS=1

SERVICE_PORT=8090
SERVICE_HOST=0.0.0.0

STRIPE_SECRET_KEY=sk_live_...
STRIPE_CLIENT_ID=ca_...
STRIPE_WEBHOOK_SECRET=whsec_...

SURPAY_BASE_URL=localhost:8090

POSTGRES_DB=surpay
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=host.docker.internal
